<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoMe | Welcome</title>
    <link rel="shortcut icon" href="/bitmap1.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/welcome.css">
</head>

<body>
    <div class="container-fload">
        <div class="header">
            <div class="container">
                <div class="logo">
                    <img src="/logo.png" alt="logo-todome" style="height: 30px;">
                </div>
                <div class="button">
                    <a href="user/login"> Login </a>
                    <a href="user/register"> Register </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-5">
                    <div class="left">
                        <div class="title">
                            <h1>TodoMe will</h1>
                            <h1>bring you</h1>
                            <h1>keep on the track</h1>
                        </div>
                        <div class="get-started">
                            <a href="todo/">
                                <button type="button" class="btn btn-success" >Get Started</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="right">
                        <!-- <img src="/vector-todo.jpg" alt="" style="height:430px;"> -->
                        <!-- <img src="/vector-todo1.jpg" alt="" style="height:430px;"> -->
                        <img src="/vector-todo2.png" alt="" style="height:430px;">
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>

</html>