<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 style="text-align: center;">Welcome to TODO ACTIVITY</h3>
    <div class="welcomeform">
        <h5> <a href="user/login"> LOGIN </a> </h5>
        <p>dont have an account?</p>
        <h5> <a href="user/register"> REGISTER </a></h5>

    </div>
</body>
</html>

