<html>
    
    <body>
        <form action="/user/register" method="POST">
            <input type="text" name="username" placeholder="masukkan username">
            <input type="password" name="password" placeholder="masukkan password">
            <input type="text" name="email" placeholder="masukkan email">
            <input type="submit" value="SIMPAN">
        </form>
    </body>
</html>